.Trashes

# Dependency directories
node_modules/
jspm_packages/
dist/
prod/
# parcel-bundler cache (https://parceljs.org/)
.cache


# Optional npm cache directory
.npm

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# npm
package-lock.json

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map
